* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --btn-essential-color: #333333;
  --bg-cl-logo: #dfeaff;
  --default-color: white;
  --text-other: gray;
  --primary-color: #157eff;
  --secondary-color: #f4f5f8;
  --font-max-title: 50px;
  --font-nornal-title: 40px;
  --font-min-title: 24px;
  --font-max: 18px;
  --font-normal: 16px;
  --font-min: 14px;
}

@media screen and (max-width: 375px) {
  :root {
    --text-color: white;
    --text-other: gray;
    --primary-color: #157eff;
    --secondary-color: #f4f5f8;
    --font-max-title: 40px;
    --font-nornal-title: 30px;
    --font-min-title: 20px;
    --font-max: 16px;
    --font-normal: 14px;
    --font-min: 12px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
